@model UniManage.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
}
<h2>Login</h2>
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}
<div class="panel-soft" style="max-width:650px;">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.UsernameOrEmail)
        @Html.TextBoxFor(m => m.UsernameOrEmail, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.UsernameOrEmail, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-success">Login</button>
}
<hr />
<p>Demo accounts:</p>
<ul>
    <li>admin / Admin@123</li>
    <li>lecturer1 / Lecturer@123</li>
    <li>student1 / Student@123</li>
</ul>
</div>
