@model UniManage.Models.Course

@{
    ViewData["Title"] = "Course Details";
}

<h2>Course Details</h2>

<div class="panel panel-default">
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Course Code</dt>
            <dd>@Model.CourseCode</dd>

            <dt>Title</dt>
            <dd>@Model.Title</dd>

            <dt>Description</dt>
            <dd>@Model.Description</dd>

            <dt>Enrollment Limit</dt>
            <dd>@Model.EnrollmentLimit</dd>

            <dt>Lecturer ID</dt>
            <dd>@Model.LecturerId</dd>
        </dl>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", "Courses", new { id = Model.Id }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Back to List", "Index", "Courses", null, new { @class = "btn btn-default" })
</p>