@model UniManage.Models.Course
@{
    ViewBag.Title = "Edit Course";
}
<h2>Edit Course</h2>
<div class="panel-soft" style="max-width:800px;">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">@Html.LabelFor(m => m.CourseCode) @Html.TextBoxFor(m => m.CourseCode, new { @class = "form-control" })</div>
    <div class="form-group">@Html.LabelFor(m => m.Title) @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })</div>
    <div class="form-group">@Html.LabelFor(m => m.Description) @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = 4 })</div>
    <div class="row">
        <div class="col-md-4 form-group">@Html.LabelFor(m => m.EnrollmentLimit) @Html.TextBoxFor(m => m.EnrollmentLimit, new { @class = "form-control", type = "number" })</div>
        <div class="col-md-4 form-group">@Html.LabelFor(m => m.PrerequisiteCourseCode) @Html.TextBoxFor(m => m.PrerequisiteCourseCode, new { @class = "form-control" })</div>
        <div class="col-md-4 form-group"><label>Lecturer</label>@Html.DropDownList("LecturerId", null, "-- Select Lecturer --", new { @class = "form-control" })</div>
    </div>
    <button type="submit" class="btn btn-primary">Update Course</button>
}
</div>
